.conteiner_banner {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 0 10rem;
    background-color: #003336;
}

.conteiner_titulos_banner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_banner {
    width: 100%;
    font-size: 3rem;
    color: #ffffff;
}

.subtitulo_banner {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 2rem;
}

.celular_container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;   
   
}

.celular_img {
    height: 90%;
}