.conteiner_boas_vindas {
    width: 100%;
    display: flex;
    padding: 0 20rem;
    flex-direction: column;
    
}

.titulo_boas_vindas {
    text-align: start;
    font-size: 2.8rem;
    margin-top: 2rem;
    color: #003336;
    
}

.paragrafo_boas_vindas {
    
    text-align: start;
    color: #003336;
    width: 100%;
    font-size: 1.8rem;
    margin-top: 2.5rem;
    padding-right: 15rem;
    position: relative;
    top: 6rem;
    

}

.strong_collor {
    color: #0CAD9A;
}

.footer_boas_vindas {
    color: #003336;
    margin-top: 18rem;
    font-size: 1.3rem; 
}





