.conteiner_info_sobre {
    width: 100%;
    height: 34vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}


.icone_clinica {
    height: 60px;
}

.paragrafo_info_sobre {
    margin-top: 2rem;
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
}

