.conteiner_boas_vindas {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 10rem;
    flex-direction: column;
    margin-top: 5rem;
}

.titulo_boas_vindas {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
    margin-top: 2rem;
    color: #003336;
}

.conteiner_paragrafo_boas_vindas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.paragrafo_boas_vindas {
    text-align: start;
    color: #003336;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 2.5rem;
}

.strong_color {
    color: #0CAD9A;
    font-weight: 500;
}